<%- include('../partials/header') %>

<div class="container">
  <h1 class="my-5">Flight Details</h1>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departure Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= flight.airline %></td>
        <td><%= flight.airport %></td>
        <td><%= flight.flightNo %></td>
        <td>
          <%= flight.departs.toLocaleString('en-US', { month: 'long', day:
          'numeric', year: 'numeric' }) %>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Add Destination</h2>
  <form action="/flights/<%= flight._id %>/destination" method="POST">
    <div class="form-group">
      <label for="airport">Destination Airport:</label>
      <select class="form-control" id="airport" name="airport">
        <% availableAirports.forEach(function(airport) { %>
        <option value="<%= airport %>"><%= airport %></option>
        <% }) %>
      </select>
    </div>
    <div class="form-group">
      <label for="arrives">Arrival Date/Time:</label>
      <input
        type="datetime-local"
        class="form-control"
        id="arrival"
        name="arrival"
        value="<%= departsDate %>"
        required
      />
      <small class="form-text text-muted">Format: yyyy-MM-ddThh:mm</small>
    </div>
    <button type="submit" class="btn btn-primary">Add Destination</button>
  </form>
<!-- this is where the tickets show -->
<% if (tickets.length > 0) { %>
  <h3>Tickets for this flight:</h3>
  <ul>
    <% tickets.forEach(function(ticket) { %>
    <form
      action="/flights/<%= flight._id %>"
      method="DELETE"
      style="display: inline"
    >
      <button type="submit" value="DELETE" class="btn btn-danger">Delete</button>
    </form>
    <li>Seat: <%= ticket.seat %>, Price: <%= ticket.price %></li>
    <% }); %>
  </ul>
  <% } else { %>
  <p>No tickets have been created for this flight yet.</p>
<% } %>
  <h2>Destinations</h2>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>Airport</th>
        <th>Arrival Date/Time</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(destination) { %>
      <tr>
        <td><%= destination.airport %></td>
        <td>
          <%= destination.arrival.toLocaleString('en-US', { month: 'long', day:
          'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric' }) %>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <!-- <a href="/flights/<%= flight._id %>/edit" class="btn btn-primary mr-2">Edit</a>
    <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST" style="display: inline;">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form> -->
  <a href="/flights" class="btn btn-secondary mt-3">Back to Flights List</a>
  <a href="/flights/<%= flight._id %>/tickets/new" class="btn btn-primary">New Ticket</a>
</div>

<% include('../partials/footer') %>